name: Live CI/CD Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - uses: docker/build-push-action@v4
      with:
        context: ./backend
        push: true
        tags: krunal1100/three-tire-backend:${{ github.sha }}

    - uses: docker/build-push-action@v4
      with:
        context: ./frontend
        push: true
        tags: krunal1100/three-tire-frontend:${{ github.sha }}

    - uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "deploy,nginx,monitoring,monitoring,docker-compose-monitor.yml"
        target: /home/ubuntu/app

    - uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          export MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
          export MYSQL_DATABASE=${{ secrets.MYSQL_DATABASE }}
          export MYSQL_USER=${{ secrets.MYSQL_USER }}
          export MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
          export IMAGE_TAG=${{ github.sha }}
          chmod +x /home/ubuntu/app/deploy/backend_deploy_bluegreen.sh
          /home/ubuntu/app/deploy/backend_deploy_bluegreen.sh
